/* ============= Header Start Here ======================= */

.header-toggle{
    .icon{
        font-size: 28px;
        color: var(--dark);
        cursor: pointer;
    }
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    &.logo{
        img {
            width: 150px;
            
            @include md-screen{
                width: 100px;
            }
        }
    }
}

@media (max-width: 1200px) {

    .header_nav{
        position: fixed;
        height: 100vh;
        overflow-y: auto;
        top: 0;
        left: -100%;
        transition: all linear 0.3s;
        width: 280px;
        background-color: #fff;
        z-index: 999;
        padding: 20px 30px;

        &.active{
            left: 0;
        }
    }

    .cross_btn{
        height: 36px;
        width: 36px;
        margin-bottom: 14px;
        margin-left: auto;
        border-radius: 50%;
        background-color: var(--base);
        display: grid;
        place-content: center;
        font-size: 18px;
        color: #fff;
    }

    .header_nav_list{
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: flex-start !important;
    }
}

.header_nav_list{
    display: flex;
    align-items: center;
    gap: 16px;
}

.header_nav_list li a{
    display: block;
    color: black;
}

.header {
    position: relative;
    padding: 15px 0 20px;
    z-index: 9;

    &.fixed-header {
        background: linear-gradient(to left, rgb(244 245 245), rgb(233 240 243)); 
        position: sticky;
        transition: .3s linear;
        top: -1px;
        animation: slide-down .8s;
        width: 100%;
        z-index: 1024;
    }
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY( -150%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}